

h1 {font-family:"Comic Sans MS", cursive, sans-serif ;
background-color: black;
color: white;
	



}

body {background-color: purple;

}


footer {background-color: green;}
header {background-color: green;}

}
